click==6.7
enum-compat==0.0.2
eventlet==0.21.0
Flask==0.12.2
Flask-SocketIO==2.9.3
greenlet==0.4.12
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
python-engineio==2.0.1
python-socketio==1.8.4
six==1.11.0
Werkzeug==0.13
